<div class="panel-group without-bg without-borders" id="parent-accordion">
        {{#pages}}
        <div class="panel panel-default">
          <!--HEADING-->
          <div class="panel-heading">
            {{#is_index}}
              <h5 class="panel-title category-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parent-accordion" href="#main">
                {{lang.global.mainArticles}} 
                <!--{{#canEdit}}<a class="add-page" data-toggle="modal" data-target="#addModal" title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}-->
                </a>
              </h5>
            {{/is_index}}
            {{^is_index}}
              <h5 class="panel-title category-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parent-accordion" href="#{{title}}">
                {{title}} 
                <!--{{#canEdit}}<a class="add-page" data-toggle="modal" data-target="#addModal" title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}</h5>-->
                </a>
              </h5>
            {{/is_index}}
          </div>
          <!--CONTENT-->
          <div id="{{#is_index}}main{{/is_index}}{{^is_index}}{{title}}{{/is_index}}" class="accordion-body collapse {{#active}} in{{/active}}">
            <div class="panel-body">
              
              
              
              {{#files}}
                {{^is_directory}}
                  <ul class="pages">
                    <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                  </ul>
                {{/is_directory}}
                
                {{#is_directory}}
                <div class="panel panel-default">
                  <!--HEADING-->
                  <div class="panel-heading">
                      <h5 class="panel-title subcategory-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#{{title}}">
                        {{title}} 
                        </a>
                      </h5>
                  </div>
                  <!--CONTENT-->
                  <div id="{{title}}" class="accordion-body collapse {{#active}} in{{/active}}">
                    <div class="panel-body">
                      {{#files}}
                          {{^is_directory}}
                            <ul class="pages">
                              <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                            </ul>
                          {{/is_directory}}
                          {{#is_directory}}
                            <div class="panel panel-default">
                              <!--HEADING-->
                              <div class="panel-heading">
                                  <h5 class="panel-title subcategory-title">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#{{title}}">
                                    {{title}} 
                                    </a>
                                  </h5>
                              </div>
                              <!--CONTENT-->
                              <div id="{{title}}" class="accordion-body collapse {{#active}} in{{/active}}">
                                <div class="panel-body">
                                {{#files}}
                                  <ul class="pages">
                                    <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                                  </ul>
                                {{/files}}
                                </div>
                              </div>
                            </div>
                          {{/is_directory}}
                      {{/files}}
                    </div>
                  </div>
                </div>
              {{/is_directory}}
            {{/files}}
                    
            
            </div>
          </div>
        </div>
        {{/pages}}
      </div>
      

  </div>